.switch {
  position: relative;
  display: inline-block;
  height: 32px;
  width: 52px;
  border-radius: 100px;
  padding: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderRound {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100px;
}

.sliderRound:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 0px;
  top: 0;
  margin: auto;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .sliderRound {
  background-color: var(--purple);
}

input:focus + .sliderRound {
  box-shadow: 0 0 1px var(--purple);
}

input:checked + .sliderRound:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(18px);
}
