.body {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--white);
    padding: 20px 2rem;
    margin: 1.5rem;
}

.body>section {
    border-bottom: 1px solid var(--sectionBorder);
}

.body>section:last-child {
    border-bottom: none;
}

@media screen and (max-width: 1023px) {
    .body {
        margin: 0;
        padding: 1rem 1rem 0;
    }
}