.sectionsNavSection {
    padding: 1.5rem 2rem;
}

@media screen and (max-width: 1023px) {
    .container {
        background: var(--white);
    }

    .sectionsNavSection {
        padding: 0 1rem;
    }
}