.container h2 {
    font-size: 31px;
    font-weight: 500;
    line-height: 49px;
    color: var(--grey);
    margin-bottom: 16px;
}

.container button {
    width: fit-content;
    padding: 10px 30px;
}

.container .buttonSection {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: calc(40px + 16px);
}

@media screen and (max-width: 768px) {
    .container h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .container .buttonSection {
        gap: 1rem;
        margin-top: 40px;
    }
}