.list {
    padding: 1rem;
    border-radius: 10px;
    border-radius: 10px;
    background: var(--white);
    border: 0.5px solid var(--sectionBorder);
}

.list div:nth-child(1) {
    gap: 0.8rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.list div:nth-child(1) span {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.list h4 {
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    padding-block: 10px;
}

.list div:nth-child(3) {
    gap: 2rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.list div:nth-child(3) a {
    text-decoration: none;
    color: var(--purple);
    font-size: 13px;
    font-weight: 600;
}

@media screen and (min-width: 400px) and (max-width: 1023px) {
    .list div:nth-child(3) {
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .list {
        border: none;
        padding: 0.8rem;
    }

    .list h4 {
        font-size: 14px;
        line-height: 23px;
        padding-block: 6px;
    }

    .list div:nth-child(1) span {
        font-size: 12px;
    }

    .list div:nth-child(3) {
        gap: 1rem;
    }

    .list div:nth-child(3) img {
        height: 20px;
        object-fit: cover;
    }

    .list div:nth-child(3) a {
        font-size: 10px;
    }
}