.container {
    margin: 24px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    background: var(--white);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.body {
    padding: 16px 32px;
}

.tableHeader,
.tableBody {
    display: grid;
    align-items: center;
    gap: 1rem;
    color: var(--grey);
    padding: 40px 0 12px;
    border-bottom: 1px solid var(--grey3);
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.tableBody {
    border-bottom: 1px solid var(--sectionBorder);
}

.tableBody:last-child {
    border-bottom: none;
}

.tableHeader span {
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.tableBody span {
    color: var(--grey);
    font-family: Archivo;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.status {
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: var(--grey);
    border-radius: 50px;
}

.tableBody div {
    gap: 10px;
    display: flex;
    align-items: center;
}

.paid {
    background: var(--paidIndicatorGreen);
}

.free {
    background: var(--progressBarIndicatorYellow);
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0;
    }

    .body {
        padding: 16px;
    }

    .tableHeader,
    .tableBody {
        grid-template-columns: 2fr 1fr;
    }

    .tableHeader>span:nth-child(3),
    .tableHeader>span:nth-child(4) {
        display: none;
    }

    .status {
        padding: 5px 8px;
        font-size: 12px;
        line-height: 18px;
    }
}