.sectionsNavSection {
  padding: 1.5rem 2rem;
  background: var(--white);
}

.body {
  margin: 1.5rem;
  padding-top: 1.7rem;
}

@media screen and (min-width: 737px) and (max-width: 1023px) {
  .container {
    background: var(--white);
  }

  .sectionsNavSection {
    padding: 0 1rem;
  }

  .body {
    margin: 0;
    padding-inline: 16px;
    background: var(--white);
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: -1rem;
    background: var(--white);
  }

  .sectionsNavSection {
    padding: 0 1rem;
  }

  .body {
    margin: 0;
    padding-inline: 16px;
    background: var(--white);
  }
}