.container button {
    width: auto;
    padding: 10px 30px;
}

.header {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px 48px;
    background: var(--white);
    border-top: 1px solid var(--veryLightPurple);
}

.header>p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    font-style: normal;
    color: var(--grey);
    font-family: Archivo;
    user-select: none;
}

.body {
    gap: 1.5rem;
    padding: 80px;
    display: flex;
    margin-top: 24px;
    flex-direction: column;
    background: var(--white);
}

.intro {
    gap: 40px;
    display: flex;
    align-items: center;
}

.intro img {
    width: 660px;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
}

.intro>div p,
.intro>div span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: var(--purple);
}

.intro>div span::after {
    content: ",";
    padding-right: 1.5px;
}

.intro>div span:nth-child(3)::after {
    content: "";
    padding-right: 0;
}

.intro>div h1 {
    font-size: 39px;
    font-weight: 500;
    line-height: 50px;
    margin-block: 16px;
}

.intro>div p {
    color: var(--grey3);
}

@media screen and (max-width: 1124px) {
    .header {
        gap: 10px;
    }

    .header {
        padding: 16px;
        border-top: none;
        border-bottom: 1px solid var(--veryLightPurple);
    }

    .header>p {
        font-size: 10px;
        line-height: 18px;

    }

    .body {
        gap: 1rem;
        margin-top: 0;
        padding: 40px;
        padding-block: 24px;
    }

    .intro {
        gap: 40px;
        flex-wrap: wrap-reverse;
    }

    .intro img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .body {
        padding-inline: 16px;
    }

    .intro>div p,
    .intro>div span {
        font-size: 12px;
        line-height: 18px;
    }

    .intro>div h1 {
        font-size: 31px;
        line-height: 40px;
        margin-block: 10px;
    }
}