.container {
    gap: 33px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 32px;
    color: var(--grey);
    align-items: center;
}

.container>div {
    width: 360px;
    height: 460px;
    gap: 1.5rem;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    background: var(--white);
}

.container .emptyTab {
    padding: 1rem;
    justify-content: center;
}

.container .emptyTab img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.container .emptyTab h2 {
    font-size: 31px;
    font-weight: 500;
    line-height: 41px;
}

.container .emptyTab p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 16px;
        background: var(--white);
    }

    .container>div {
        width: 343px;
        height: 415px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    }

    .container .emptyTab img {
        width: 60px;
        height: 60px;
    }

    .container .emptyTab h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .container .emptyTab p {
        font-size: 14px;
        line-height: 22px;
    }
}