.container {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1.2rem;
    width: fit-content;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: var(--white);
}

.container span {
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 26px;
    color: var(--grey);
    font-style: normal;
    white-space: nowrap;
    font-family: Archivo;
}

.container div {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}